#contactUs{
    background-image: url(http://demo.tempload.com/jirono/assets/images/photos/parallax.jpg);
    // background-color: violet;
    color: white;
    width: 100%;
    height: 200px;
    padding: 72px 0;
    background-attachment: fixed;
    background-size: cover;
    .us{
        display: flex;
        justify-content: center;
        & .decor{
            text-decoration: underline;
        }
        & .text{
            color: $maincolor;
            padding: 10px 50px;
        }
        
    }
    .contact{
        font-size: 25px;
    }
    
}