#Navbar{
// position: fixed;
// left: 0;
// right: 0;
// z-index: 9999;
    .headerNav{
        display: flex;
        align-items: center;
        height: $size*8;
        background-color: $primarycolor;
        & .iconCol{
           display: flex;
           justify-content: center;
        }
        
    }
    .linkCol{
        display: flex;
        align-items: center;
        justify-content: center;
    
        & ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & li{
            padding: 0 $size*2;
            font-size: ($font*2);
            font-family: $family;
            & span{
                margin-right: 5px
            }
        }
        & a{
            text-decoration: none;

        }
    }
   
}
.starter{
    .edit{
        // display: inherit;
        padding: 0;
        & .morenav{
           & ul{
                margin-left: $size*2;
                & a{
                    text-decoration: none;
                }
            }

        }
    }
    .pagenav{
        & ul{
            margin-left: $size*15;
            & a{
                text-decoration: none;
            }
        }
    }
    ul{
        padding: 0;
        list-style: none;
    }
   .displayNone{
      
       display: none;

   }
}
.buttons{
    display: flex;
    justify-content: flex-end;
   
    & button{
        padding: 0.3rem 1.5rem;
        border: 1px solid $maincolor;
        text-decoration: none;
        margin: 0 1%;
    }
    & .signinBut:hover{
        background-color: $maincolor;
        color: $primarycolor;
    }
    & .signupBut:hover{
        background-color: $primarycolor;
        color:$maincolor;
    }
}
}
