#ourTeam{
    background-color: $firstcolor;
    padding-top: $size*5;
    font-family: $family;
    & h2{
        display: flex;
        justify-content: center;
    }
    & p{
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: $size*50;
        margin: $size*2 auto;
        font-size: $size+8;
        margin-bottom: 40px;
    }
    .card1{
        height: 350px;
        display: flex;
       background-color: white;
       margin: 0 20px;
       & .name{
           background-color: $maincolor;
           margin-bottom: 20px;
           z-index: 2;
           color: $primarycolor;
           position: relative;
       }
    
     & h3{
       display: flex;
       justify-content: center;
       font-size: $font*2;
       position: relative;
       z-index: 2;

    }
    & p{
        position: relative;
        z-index: 2;
    }
    .nameh::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-image: linear-gradient(
    135deg, #585CE9 0%, #5C83E3 100%);
         height: 71px;
        z-index: 1;
       width: 100%;      
        transition: all 0.4s ease 0s;  
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .cardh:hover .nameh::before {
        height: 140px;
      }
    & ul{
        list-style: none;
        display: flex;
        padding: 0;
        justify-content: space-around;
        align-content: center;
        font-size: 18px;
    }
    .cardh:hover  ul li {
        color: white;
        z-index: 2;
        position: relative;
    }
}

.image{
    display: flex;
    justify-content: center;
    & img{
    border-radius: 75%;
    width: 120px;
    display: flex;
    }
}
}